<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>
<h1>Compose</h1>
    <div class="container">
    <form action="/mailsent" method="POST">
          <label for="from">From</label>
          <input type="email" id="from" name="from" placeholder="From mail ID" value=<%= email%>>
      <br>
        <label for="to">To</label>
        <input type="email" id="to" name="to" placeholder="To mail ID">
      <br><br>
          <label for="subject">Subject</label>
          <input type="text" id="subject" name="subject" placeholder="subject">
      <br>
      
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="Message to  be sent" style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
    </form>
    <a href="/mail"><input type="button" value="Go Back"><br><br></a>
            
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>
