
<h1>This is mail Page</h1>

<form action="/compose" method="POST">
    <input type="hidden" name="email" id="email" value=<%= user.email%>>
    <button type="submit">Compose</button>
</form>
<br>
<form action="/inbox" method="POST">
    <input type="hidden" name="email" id="email" value=<%= user.email%>>
    <button type="submit">Inbox</button>
</form>
<br>
<a href="/"><input type="button" value="Logout"><br><br></a>

